 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 454px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 453px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-1 {
  padding: 15px 45px;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  font-size: 4.5rem;
  margin: 65px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  line-height: 1.8;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 439px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 437px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 0;
    padding-left: 28px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
    margin-left: 17px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 17px;
    margin-right: 17px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 556px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 556px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 38px;
  }

  .u-section-1 .u-layout-cell-1 {
    order: 0;
    min-height: 518px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 40px 70px;
  }

  .u-section-1 .u-text-1 {
    width: 503px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 38px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 31px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 669px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 669px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 55px 50px 30px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 534px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 534px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 496px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 0;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
    margin-left: auto;
    margin-right: auto;
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
    margin-top: 22px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 22px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 66px;
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 577px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 577px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-1 {
  padding: 15px 45px 0;
}

.u-section-3 .u-text-1 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  font-size: 4.5rem;
  margin: 65px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  line-height: 1.8;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 15px 0 0;
}

.u-section-3 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 24px auto 0;
}

.u-section-3 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-3 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 567px;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 567px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 1px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 567px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 0;
    padding-left: 28px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
    margin-left: 17px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 17px;
  }

  .u-section-3 .u-btn-3 {
    margin-top: 16px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 191px;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 191px;
  }

  .u-section-3 .u-layout-cell-1 {
    order: 0;
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 40px 70px;
  }

  .u-section-3 .u-text-1 {
    width: 503px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 38px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 719px;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 30px 36px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 26px;
  }

  .u-section-3 .u-btn-3 {
    margin-top: 14px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 50vw;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 50vw;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 33px;
    margin-bottom: 33px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 575px;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 0;
  }

  .u-section-3 .u-text-1 {
    width: 340px;
    font-size: 2.25rem;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
    margin-top: 22px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-btn-3 {
    font-size: 1.125rem;
    margin-top: 19px;
    padding: 10px 0 11px;
  }
}